<p id="notice"><%= notice %></p>
<div class="column col-6">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <%= @post.number %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @post.published %>
</p>

<div class="btn-group btn-group-block">
<%= button_to "Edit", edit_post_path(@post), method: :get, class: "btn" %>
<%= button_to "Back", posts_path, method: :get, class: "btn" %>
</div>
</div>
